.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

nav {
  padding-top: 2px;
  margin-bottom: 15px;
  height: 40px;
  background-color: #555456 !important;
}

nav .brand-logo {
  font-size: 20px;
  margin-top: -12px;
  margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e !important;
  }

  .dark-mode {
    background-color: #1e1e1e !important;
    color: #fff !important;
  }
}

nav .brand-logo:hover {
  color: white;
  text-decoration: none;
}

.body {
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #555456;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.error {
  color: #a00000;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  margin-right: 15px;
  color: white;
  border: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-row {
  margin-bottom: 20px;
}

.btn-generals button {

}

.btn-generals button:hover {

}

.btn-on {
  background-color: #48614f !important;
  font-weight: bold !important;
  font-size: large !important;
}

.btn-on:hover {
  background-color: #88948a !important;
}

.btn-off {
  background-color: #782c0b !important;
  font-weight: bold !important;
  font-size: large !important;
}

.btn-off:hover {
  background-color: #9e7460 !important;
}

.btn-inputs button, .btn-calibrate, .btn-input-all {
  background-color: #506085 !important;
}

.btn-inputs button:hover, .btn-calibrate:hover, .btn-input-all:hover {
  background-color: #8b95aa !important;
}

.btn-modes button {
  background-color: #c3873f !important;
}

.btn-modes button:hover {
  background-color: #d1b086 !important;
}

.brightness-label p {
  font-size: larger;
  font-weight: 500;
}

.css-11ggof3-Slider {
  width: 95% !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.css-wt1n76-Slider:after {
  background-color: #eee !important;
}